.header-warpper {
  background-color: rgba(255, 255, 255, 0.7);

  .header {
    margin: 0 16%;
    align-items: center;
  }

  .header-title {
    .header-title-blog {
      color: #1e90ff;
      font-size: 25px;
      text-align: left;
    }
  }

  .header-menu {
    display: inline-block;
    background-color: transparent;
  }
}
